/* Common Style section */
*{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
}

.primary_text{
    color:#fb05a1d3;
}

.primary_btn{
    border-radius: 5px;
    border: 0;
    background-color: #fb05a1d3;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;

}

.section_titel{
    color: rgb(49, 36, 36);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.section_description{
    color: #45020296;
    text-align: center;
    font-size: 15px;
}






/* Nav style section start's here */



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px;

}

.nav_titel{
    color: black;
    font-size: 30px;
    font-weight: 700;
    
}

nav>ul{
    display: flex;
    align-items:center;

}

nav li{
    list-style: none;
    margin: 15px;
}

nav a{
    text-decoration: none;
    color: black;
}

/* nav section ends here */

/* banner section start's here */

.header{
    background-color: #fceef1;
    
}

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner_iamge{
    width: 500px;
    height: 80vh;
    
}



.banner_greeting{
    font-size: 45;
    color: rgb(58, 48, 49);
    margin-bottom: 5px;
}

.banner_description{
    text-align: center;
    color: rgb(58, 48, 49);
    margin-bottom: 40px;
}

/* banner section ends here */

/* Our Featured Flowers section start's here */

.featured_flowers{
    margin: 100px 150px 100px 150px;
    
}

.box{
    display: flex;
    justify-content: center;
   
    
}

.flower_box{
    margin: 50px 50px 0px 20px;
    background-color: #f2dee7;
    width: 300px;
    height: 350px;
    border-radius:300px 300px 0px 0px;
    
    
}
.flower_box2{
    margin: 50px 50px 0px 20px;
    background-color: #d9eff1;
    width: 300px;
    height: 350px;
    border-radius:300px 300px 0px 0px;
    
}
.flower_box3{
    margin: 50px 50px 0px 20px;
    background-color: #e3ebdb;
    width: 300px;
    height: 350px;
    border-radius:300px 300px 0px 0px;
   

}
.featured_img{
    width: 290px;
    height: 350px;
    flex-shrink: 0;
}
.fname{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* card 1 section start's here */
.card_section_1{
    background-color: #f4f4f4;
    padding:80px;   
    border-radius: 10px;
    margin: 100px 250px;
    
}

 .card_1_imgs{
    display: flex;
    justify-content:space-evenly;
    
} 

.img1{
    text-align: center;
    
}

/* card 1 section ends here */

/* sale section starts here */

.sale{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fef6f8;
    padding: 70px;
    text-align: center;
}

.off_sale{
    color: #fb05a1d3;
}

.sale_titel{
    color: #272727;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.sale_description{
   
    margin-bottom: 10px;
}
/* sale section ends here */

/* instagram section start's here */

.instagram{
    margin: 150px;
}

.insta_main_box{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 50px;
    
}

.insta_box1{
    
    height: 250px;
    width: 200px;
}

/* instagram section ends here */

/* sub section starts here */

.sub{
    background-image: url("../Flower_Asset/99.png");
    background-size: 1000px;
    background-position: center;
    text-align: center;
    border-radius: 10px;
    padding: 80px;
    margin: 90 180;
    background-repeat: no-repeat;
}

.sub_email{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
   
}
#email{
    width: 400px;
    height: 48px;
    border-radius: 5px;
    
}



/* sub section ends here */

/* footer start's here */

.footer{
    text-align:center;
    margin: 80px 0 0 0;
    height: 250px;
    width: 100%;
    background-color:black ;
    
    

}
.footspan{
    color:#fb05a1d3;
}

.foot_titel{
    color: white;
    padding-top: 100px;
}
.section_description_foot{
    color: white;
    line-height: 2 ;
}
/* footer ends here */


/*Our Decoration service for Events section start's here */


.decoration{
    display: flex;
    justify-content:space-evenly;
    
    margin: 50px 0 50px 0;
    background-color:#d9eff1 ;
}

.deco_img{
    width: 700px;
}
.deco_titel{
    text-align: center;
    align-items: center;
    padding-top: 200px;
    font-size: x-large;
    line-height: 2;
}



/*Our Decoration service for Events section ends here  */