/* Common Style section */
*{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
}

.primary_text{
    color:#fb05a1d3;
}

.primary_btn{
    border-radius: 5px;
    border: 0;
    background-color: #fb05a1d3;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;

}

.section_titel{
    color: rgb(49, 36, 36);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section_description{
    color: #45020296;
    text-align: center;
    font-size: 20px;
}





/* Nav style section start's here */



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px;

}

.nav_titel{
    color: black;
    font-size: 30px;
    font-weight: 700;
    
}

nav>ul{
    display: flex;
    align-items:center;

}

nav li{
    list-style: none;
    margin: 15px;
}

nav a{
    text-decoration: none;
    color: black;
}

/* nav section ends here */

/* banner section start's here */

.header{
    background-color: #fceef1;
    
}

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner_iamge{
    width: 500px;
    height: 80vh;
    
}



.banner_greeting{
    font-size: 45;
    color: rgb(58, 48, 49);
    margin-bottom: 5px;
}

.banner_description{
    text-align: center;
    color: rgb(58, 48, 49);
    margin-bottom: 40px;
}

/* banner section ends here */

/* Our Featured Flowers section start's here */

.featured_flowers{
    margin: 100px 150px 100px 150px;
    
}

.box{
    display: flex;
    justify-content: center;
   
    
}

.flower_box{
    margin: 50px 50px 0px 20px;
    background-color: #f2dee7;
    width: 300px;
    height: 350px;
    border-radius:300px 300px 0px 0px;
    
    
}
.flower_box2{
    margin: 50px 50px 0px 20px;
    background-color: #d9eff1;
    width: 300px;
    height: 350px;
    border-radius:300px 300px 0px 0px;
    
}
.flower_box3{
    margin: 50px 50px 0px 20px;
    background-color: #e3ebdb;
    width: 300px;
    height: 350px;
    border-radius:300px 300px 0px 0px;
   

}
.featured_img{
    width: 290px;
    height: 350px;
    flex-shrink: 0;
}
.fname{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}

